{% macro header(current_section) %}
<div class="header-bar fixed-top"></div>
<header class="navbar fixed-top navbar-expand-md navbar-light">
	<div class="container">
		<input class="menu-btn order-0" type="checkbox" id="menu-btn">
		<label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>
		<a class="navbar-brand order-1 order-md-0 me-auto" href="{{ config.base_url | safe }}">{{ config.title | default(value="AdiDoks") }}</a>
		<ul class="navbar-nav fork-me order-3 order-md-5">
			{% if config.extra.menu.social %}
				{% for val in config.extra.menu.social %}
					<li class="nav-item">
						<a class="nav-link" href="{{ helpers::link(dest=val.url) }}">{{ val.pre | safe }}<span class="ms-2 visually-hidden">{{ val.name }}</span></a>
					</li>
				{% endfor %}
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="https://twitter.com/aaranxu"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg><span class="ms-2 visually-hidden">Twitter</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/aaranxu/adidoks"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg><span class="ms-2 visually-hidden">GitHub</span></a>
				</li>
			{% endif %}
		</ul>
		<div class="collapse navbar-collapse order-4 order-md-1">
			<ul class="navbar-nav main-nav me-auto order-5 order-md-2">
				{% if lang == config.default_language %}
					{% set rootsectionpath = "_index.md" %}
				{% else %}
					{% set rootsectionpath = "_index." ~ lang ~ ".md" %}
				{% endif %}
				{% set mainsec = get_section(path=rootsectionpath) %}
				{% if mainsec.extra.menu.main %}
					{% for val in mainsec.extra.menu.main %}
						<li class="nav-item{% if current_section == val.section|default(value="") %} {{ current_section }} active{% endif %}">
							<a class="nav-link" href="{{ helpers::link(dest=val.url) }}">{{ val.name }}</a>
						</li>
					{% endfor %}
				{% elif config.extra.menu.main %}
					{% for val in config.extra.menu.main %}
						<li class="nav-item{% if current_section == val.section|default(value="") %} {{ current_section }} active{% endif %}">
							<a class="nav-link" href="{{ helpers::link(dest=val.url) }}">{{ val.name }}</a>
						</li>
					{% endfor %}
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ get_url(path="docs", trailing_slash=true) | safe }}">Docs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ get_url(path="blog", trailing_slash=true) | safe }}">Blog</a>
				</li>
				{% endif %}
			</ul>
			<div class="break order-6 d-md-none"></div>
			{% if config.build_search_index %}
				<form class="navbar-form flex-grow-1 order-7 order-md-3">
					<input id="userinput" class="form-control is-search" type="search" placeholder="Search docs..."
						aria-label="Search docs..." autocomplete="off">
					<div id="suggestions" class="shadow bg-white rounded"></div>
				</form>
			{% endif %}
		</div>
	</div>
</header>
{% endmacro %}
